/* ==========================================================
                    Media-query
============================================================= */
@media only screen and (min-width: 578px) {
  .logo-img {
    width: 25%;
  }

  .header-title > p {
    font-size: 11px;
  }

  .individual-info > p {
    font-size: 15px;
  }
  /* ========== Pictures Area ========= */

  .pictures-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 5px;
  }

  .popup-information {
    padding: 20px 10px 20px 30px;
  }
}

@media only screen and (min-width: 820px) {
  .header-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  .logo {
    grid-column: 1 / span 2;
  }

  .logo-img {
    width: 80%;
    margin: 0 auto 0 0;
  }

  .header-title {
    grid-column: 4 / span 5;
  }

  .header-title > h1 {
    font-size: 2.35em;
    letter-spacing: -1px;
  }

  .header-title > p {
    font-size: 13px;
    letter-spacing: 2.5px;
  }

  .individual-info > p {
    font-size: 17px;
  }

  /* ========== Pictures Area ========= */
  .pictures-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23.5%, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 8px;
  }

  .popup-img > img {
    width: 45%;
  }

  .modal-content {
    width: 70%;
  }

  /* ========== Previous and Next nav =========== */
  .nav > button {
    font-size: 55px;
  }
}

@media only screen and (min-width: 1080px) {
  .modal-content {
    width: 49%;
  }

  .container-img-info-popup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  .popup-img > img {
    width: 85%;
  }
}
